---
import { AnimatedLink } from "@/components/AnimatedLink";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Logo from "../../layouts/logo.astro";
import Main from "../../layouts/main.astro";
import QRCode from "../../layouts/qrcode.astro";
import cardDeTxt from "./../de/card.txt?raw";
import cardTxt from "./card.txt?raw";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<Main hasNav={false}>
    <div class=" pt-16 pb-12 flex justify-center items-center">
        <a href={lang === "de" ? "/de" : "/en"}>
            <Logo/>
        </a>
    </div>
    
    <QRCode text={lang === "de" ? cardDeTxt : cardTxt} />

    <div class="flex justify-center items-center px-8">
        <AnimatedLink client:only="react"
                      text={t('card.backHome')}
                      href={lang === "de" ? "/de" : "/en"}/>
    </div>
</Main>