---
import { AnimatedLink } from "@/components/AnimatedLink";
import logoImg from "public/logo.webp";
import Logo from "../../components/logo.astro";
import QRCode from "../../components/qrcode.astro";
import { getBrowserLocale } from "../../i18n/browser";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
import Main from "../../layouts/main.astro";
import _cardDeTxt from "./../de/card.txt?raw";
import _cardTxt from "./card.txt?raw";

export const prerender = true;

const browserLanguage = getBrowserLocale(Astro.request.headers);
const lang = getLangFromUrl(Astro.url, browserLanguage);
const t = useTranslations(lang);
---
<Main>
    <div class=" pt-16 pb-12 flex justify-center items-center">
        <a href={lang === "de" ? "/de" : "/en"}>
            <Logo small={false}/>
        </a>
    </div>
    
    <QRCode text={lang === "de" ? _cardDeTxt : _cardTxt} />

    <div class="flex justify-center items-center px-8">
        <AnimatedLink client:only="react"
                      text={t('card.backHome')}
                      href={lang === "de" ? "/de" : "/en"}/>
    </div>
</Main>