---
import { IndexPage } from "@/layouts/IndexPage";
import Main from "@/layouts/main.astro";
import profileImg from "public/profile.png";
import CarImage from "public/projects/car.png";
import LoomImage from "public/projects/loom.webp";
import WyroTechImage from "public/projects/wyrotech.png";
import acpImg from "public/screenshots/acp.png";
import connectaImg from "public/screenshots/connacta-regensburg.png";
import courseraImg from "public/screenshots/coursera.png";
import dabImg from "public/screenshots/dab.png";
import edvschuleImg from "public/screenshots/edvschule.png";
import firstcontactImg from "public/screenshots/firstcontact-deggendorf.png";
import { getLogo, processImage } from "../../lib/helper";
import type { LandingPageObject } from "../../lib/models";

const obj = {
	logo: await getLogo(),
	profileUrl: await processImage(profileImg, 300),
	timelineImages: {
		firstcontact: await processImage(firstcontactImg, 200),
		dab: await processImage(dabImg, 200),
		coursera: await processImage(courseraImg, 200),
		connecta: await processImage(connectaImg, 200),
		edvschule: await processImage(edvschuleImg, 200),
		acp: await processImage(acpImg, 200),
	},
	projects: [
		{
			title: "Website - WyroTech",
			image: await processImage(WyroTechImage, 400),
			link: "https://github.com/WyroTech/wyrotech",
			tech: ["react", "astro", "tailwindcss", "vercel"],
		},
		{
			title: "RoboCar 4.0",
			link: "https://github.com/WyroTech/RoboCar",
			tech: ["cplusplus", "python", "javascript"],
			image: await processImage(CarImage, 400),
		},
		{
			title: "dab Nexus Loom",
			link: "https://www.dab-europe.com/en/products/dab-nexus-loom/",
			image: await processImage(LoomImage, 400),
			tech: ["angular", "docker", "dotnet"],
		},
	].reverse(),
} as LandingPageObject;
---
<Main hasNav={true}>
    <IndexPage client:only="react" obj={obj}/>
</Main>