---
import { IndexPage } from "@/layouts/IndexPage";
import Main from "@/layouts/main.astro";
import profileImg from "public/profile.png";
import CarImage from "public/projects/car.png";
import LoomImage from "public/projects/loom.webp";
import WyroTechImage from "public/projects/wyrotech.png";
import acpImg from "public/screenshots/acp.png";
import connectaImg from "public/screenshots/connacta-regensburg.png";
import courseraImg from "public/screenshots/coursera.png";
import dabImg from "public/screenshots/dab.png";
import edvschuleImg from "public/screenshots/edvschule.png";
import firstcontactImg from "public/screenshots/firstcontact-deggendorf.png";
import { getLogo, processImage } from "../../lib/helper";
import type { LandingPageObject } from "../../lib/models";

const [
	logo,
	profileUrl,
	firstcontact,
	dab,
	coursera,
	connecta,
	edvschule,
	acp,
	wyrotech,
	car,
	loom,
] = await Promise.all([
	getLogo(),
	processImage(profileImg, 300),
	processImage(firstcontactImg, 200),
	processImage(dabImg, 200),
	processImage(courseraImg, 200),
	processImage(connectaImg, 200),
	processImage(edvschuleImg, 200),
	processImage(acpImg, 200),
	processImage(WyroTechImage, 400),
	processImage(CarImage, 400),
	processImage(LoomImage, 400),
]);

const obj: LandingPageObject = {
	logo,
	profileUrl,
	timelineImages: {
		firstcontact,
		dab,
		coursera,
		connecta,
		edvschule,
		acp,
	},
	projects: [
		{
			title: "Website - WyroTech",
			image: wyrotech,
			link: "https://github.com/WyroTech/wyrotech",
			tech: ["react", "astro", "tailwindcss", "vercel"],
		},
		{
			title: "RoboCar 4.0",
			link: "https://github.com/WyroTech/RoboCar",
			tech: ["cplusplus", "python", "javascript"],
			image: car,
		},
		{
			title: "dab Nexus Loom",
			link: "https://www.dab-europe.com/en/products/dab-nexus-loom/",
			image: loom,
			tech: ["angular", "docker", "dotnet"],
		},
	].reverse(),
};
---
<Main hasNav={true}>
    <IndexPage client:only="react" obj={obj}/>
</Main>