---
import { LandingHeader } from "@/layouts/LandingHeader";
import { ProgrammingLanguages } from "@/layouts/ProgrammingLanguages";
import Main from "../layouts/main.astro";
---
<Main>
    <LandingHeader client:only="react"/>
    <ProgrammingLanguages client:only="react"/>
</Main>
