---
import { AnimatedLink } from "@/components/AnimatedLink";
import logoSmallImg from "public/logo_small.webp";
import Logo from "../components/logo.astro";
import QRCode from "../components/qrcode.astro";
import { getBrowserLocale } from "../i18n/browser";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import Main from "../layouts/main.astro";

const browserLanguage = getBrowserLocale(Astro.request.headers);
const lang = getLangFromUrl(Astro.url, browserLanguage);
const t = useTranslations(lang);
---

<Main hasNav={false}>
    <div class=" pt-16 pb-12 flex justify-center items-center">
        <a href={lang === "de" ? "/de" : "/en"}>
            <Logo small={false}/>
        </a>
    </div>

    <QRCode text="https://www.linkedin.com/in/andreas-wyrobek/"/>

    <div class="flex justify-center items-center px-8">
        <AnimatedLink client:only="react" text={t('card.backHome')} href={lang === "de" ? "/de" : "/en"}/>
    </div>
</Main>