---
import { Icon } from "astro-icon/components";

const { iconName, href } = Astro.props;
---

<a href={href} class="w-min text-white transition-all transform opacity-75 hover:opacity-100 hover:scale-110 duration-300" target="_blank">
    <Icon name={iconName} size="20" />
</a>