---
const { logoUrl } = Astro.props;
---

<div
        id="loading-screen"
        class="loading-screen fixed inset-0 z-[999999] bg-black transition-opacity duration-1000"
>
    <div class="fixed inset-0 flex justify-center items-center">
        <div class="flex items-center gap-px">
            <img
                    src={logoUrl}
                    alt="logo"
                    width="56"
                    height="56"
                    class="mr-1"
                    loading="lazy"
            />
            <span class="font-extrabold! text-6xl! text-white!">Wyro</span>
            <span class="font-thin! text-6xl! text-white!">Tech</span>
        </div>
    </div>
</div>

<script is:inline>
    window.removeLoadingScreen = function() {
        const el = document.getElementById('loading-screen');
        if (!el) return;
        setTimeout(() => el.classList.add("opacity-0"), 500);
        setTimeout(() => el.remove(), 1500);
    };
</script>