---
import { getLogo } from "../lib/helper";

const { size, styleClasses } = Astro.props;

const optimizedImage = await getLogo(size ?? 56);
---
<div class="flex items-center">
    <div class="flex items-center gap-px">
        <img
                src={optimizedImage}
                alt="logo"
                width={size ?? 56}
                height={size ?? 56}
                class="mr-1"
                loading="lazy"
        />
        <span class={(styleClasses ?? "text-6xl!") + " font-extrabold! text-white!"}>Wyro</span>
        <span class={(styleClasses ?? "text-6xl!") + " font-thin! text-white!"}>Tech</span>
    </div>
</div>