---
import { AnimatedLink } from "@/components/AnimatedLink";
import { Logo } from "@/components/Logo";
import IconLink from "../components/IconLink.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

import { getImage } from "astro:assets";
import LogoImg from "public/Wi-fi.png";

const optimizedImage = await getImage({
	src: LogoImg,
	width: 64,
	format: "webp", // Convert to webp for better compression
});

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class=" w-full flex flex-col justify-between items-center py-16 px-8 gap-16 md:justify-start">
    <div class="w-full flex flex-col gap-16 justify-center items-center md:flex-row md:justify-start md:items-end">
        <div class="w-full flex flex-col gap-8 items-center md:grid md:grid-cols-2 md:w-2xs md:gap-y-8 md:gap-x-16 md:items-end">
            <div class="col-span-2">
                <a href="/">
                    <Logo client:only="react" imageUrl={optimizedImage.src}/>
                </a>
            </div>
            <AnimatedLink client:only="react" text={t('home')} href="#home"/>
            <AnimatedLink client:only="react" text={t('skills')} href="#skills"/>
            <AnimatedLink client:only="react" text={t('journey')} href="#journey"/>
            <AnimatedLink client:only="react" text={t('imprint')} href="#"/>
        </div>
        <div class="flex gap-8 md:w-full md:justify-end">
            <IconLink description="Leetcode" iconName="simple-icons:leetcode" href="https://leetcode.com/u/WyroTech/"/>
            <IconLink description="LinkedIn" iconName="lucide:linkedin" href="https://www.linkedin.com/in/andreas-wyrobek/"/>
            <IconLink description="Github" iconName="lucide:github" href="https://github.com/wyrotech"/>
        </div>
    </div>
</footer>