---
import AnimatedLink from "../components/AnimatedLink.astro";
import IconLink from "../components/IconLink.astro";
import Logo from "../components/logo.astro";
import { getBrowserLocale } from "../i18n/browser";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const browserLanguage = getBrowserLocale(Astro.request.headers);
const lang = getLangFromUrl(Astro.url, browserLanguage);
const t = useTranslations(lang);
---

<footer class="w-full flex flex-col justify-between items-center py-16 px-8 gap-16 md:justify-start">
  <div class="w-full flex flex-col gap-16 justify-center items-center md:flex-row md:justify-start md:items-end">
    <div class="w-full flex flex-col gap-8 items-center md:grid md:grid-cols-2 md:w-2xs md:gap-y-8 md:gap-x-16 md:items-end">
      <div class="col-span-2">
        <a href="/">
          <Logo/>
        </a>
      </div>
      <AnimatedLink text={t('home')} href="#home" />
      <AnimatedLink text={t('skills')} href="#skills" />
      <AnimatedLink text={t('journey')} href="#journey" />
      <AnimatedLink text={t('imprint')} href="#" />
    </div>
    <div class="flex justify-center md:justify-end items-end w-full">
      <div class="flex gap-4 md:justify-end bg-gray-800 rounded-lg px-5 py-3 shadow-lg">
        <IconLink
          description="Mail"
          iconName="lucide:mail"
          href="mailto:a@wyro.tech"
        />
        <IconLink
          description="WaniKani"
          iconName="hugeicons:alphabet-japanese"
          href="https://www.wanikani.com/users/WyroTech"
        />
        <IconLink
          description="Leetcode"
          iconName="simple-icons:leetcode"
          href="https://leetcode.com/u/WyroTech/"
        />
        <IconLink
          description="LinkedIn"
          iconName="lucide:linkedin"
          href="https://www.linkedin.com/in/andreas-wyrobek/"
        />
        <IconLink
          description="Github"
          iconName="lucide:github"
          href="https://github.com/wyrotech"
        />
      </div>
    </div>
  </div>
</footer>