---
import "../styles/global.css";
import { Navigation } from "./Navigation.tsx";
import Footer from "./footer.astro";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>WyroTech by Andreas Wyrobek</title>
</head>
<body>
<Navigation client:only="react"/>
<div>
    <slot/>
</div>
<Footer/>
</body>
</html>
