---
import "../styles/global.css";
import Footer from "./footer.astro";
import Nav from "./nav.astro";
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>WyroTech by Andreas Wyrobek</title>
</head>
<body>
<Nav/>
<slot/>
<Footer/>
</body>
</html>
