---
import "../styles/global.css";
import LogoSmallImg from "public/logo_small.webp";
import { getBrowserLocale } from "../i18n/browser";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const browserLanguage = getBrowserLocale(Astro.request.headers);
const lang = getLangFromUrl(Astro.url, browserLanguage);
const t = useTranslations(lang);

const test = Astro.request.headers.get("accept-language");
---
<html lang={lang}>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" href="/favico.ico"/>
    <link rel="image_src" href={LogoSmallImg.src}>
    <title>{t('meta.title')}</title>
    <!-- SEO metadata -->
    <meta name="description" content={t('meta.description')}/>
    <meta name="keywords" content={t('meta.keywords')}/>
    <meta property="og:title" content={t('meta.ogTitle')}/>
    <meta property="og:description" content={t('meta.ogDescription')}/>
    <meta property="og:type" content="website"/>
    <link rel="manifest" href="/site.webmanifest">

    <link rel="alternate" href="https://www.wyro.tech/en" hreflang="en" />
    <link rel="alternate" href="https://www.wyro.tech/de" hreflang="de" />

    <link rel="preload" href={LogoSmallImg.src} as="image"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Syne:wght@500&display=swap" onload="this.rel='stylesheet'">
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Syne:wght@500&display=swap" rel="stylesheet">
    </noscript>


    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content={t('meta.twitterTitle')}>
    <meta name="twitter:description" content={t('meta.twitterDescription')}/>
    <meta name="twitter:image" content="https://www.wyro.tech/logo_small.png">

    <link rel="canonical" href={"https://www.wyro.tech/" + Astro.url.pathname}>

    <meta name="author" content="Andreas Wyrobek">
    <meta name="robots" content="index, follow">
    <meta name="language" content={lang === "de" ? "German" : "English"}>

    <meta property="og:image" content={LogoSmallImg.src}>
    <meta property="og:image:width" content="56">
    <meta property="og:image:height" content="56">
    <meta property="og:url" content="https://www.wyro.tech">
    <meta property="og:locale" content={lang === "de" ? "de_DE" : "en_US"}>

    <link rel="sitemap" href="/sitemap-index.xml" />
    
    <slot name="head"/>
</head>
<body>
<slot/>

<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Andreas Wyrobek",
        "logo": "https://www.wyro.tech/logo.webp",
        "url": "https://www.wyro.tech",
        "jobTitle": "Principal Software Engineer & UX/UI Lead",
        "nationality": "German",
        "worksFor": {
            "@type": "Organization",
            "name": "WyroTech"
        },
        "skills": [
            "Angular",
            "UX Design",
            "Principal Software Engineer",
            "UX/UI Lead"
        ],
        "sameAs": [
            "https://www.wanikani.com/users/WyroTech",
            "https://leetcode.com/u/WyroTech/",
            "https://www.linkedin.com/in/andreas-wyrobek/",
            "https://bsky.app/profile/wyrotech.bsky.social",
            "https://www.instagram.com/wyrotech/"
        ]
    }
</script>
</body>
</html>
