---
import "../styles/global.css";
import { getImage } from "astro:assets";
import LogoImg from "public/Wi-fi.png";
import { Navigation } from "./Navigation.tsx";
import Footer from "./footer.astro";

const optimizedImage = await getImage({
	src: LogoImg,
	width: 64,
	format: "webp", // Convert to webp for better compression
});
---

<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <title>WyroTech by Andreas Wyrobek</title>
</head>
<body>
<Navigation client:only="react" imageUrl={optimizedImage.src}/>
<div>
    <slot/>
</div>
<Footer/>
</body>
</html>
