---
import { getLangFromWindow, useTranslations } from "@/i18n/utils.ts";
import { Icon } from "astro-icon/components";
import { getLangFromUrl } from "../i18n/utils";

const languages = [
	{ name: "Deutsch", subText: "Native", icon: "flag:de-4x3" },
	{ name: "Polski", subText: "2nd Native", icon: "flag:pl-4x3" },
	{ name: "English", subText: "C1 Level", icon: "flag:gb-4x3" },
	{ name: "日本語", subText: "N5 Level", icon: "flag:jp-4x3" },
];

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="min-h-[100lvh] flex flex-col items-center justify-center px-8 gap-16">
  <div class="relative pt-8 z-10">
    <h1 class="relative title z-20">{t("title.languagesIspeak")}</h1>
  </div>
  <div class="group grid grid-cols-2 sm:flex sm:flex-wrap w-full justify-center justify-items-center gap-x-12 gap-y-16 pb-16 z-20">
    {languages.map(({name, subText, icon}) => (
      <div class="transition-all cube hover:!scale-120 flex flex-col items-center gap-0.5 max-w-24">
        <div class="w-24 h-24 flex justify-center items-center">
          <Icon name={icon} width="72" height="72" />
        </div>
        <span class="w-full text-center text-sm!">{name}</span>
        <span class="w-full text-center text-slate-400! text-xs!">{subText}</span>
      </div>
    ))}
  </div>
</div>